<!DOCTYPE html>
<html>
	<head>
		<% include layouts/head.ejs %>
	</head>
	<body>
		<% include layouts/header.ejs %>
		Welcome	
		<% if(user !== 'undefined'){ %> 
			<% if(user instanceof Object){ %>
			<% var str,key; %>
			<% for(var i in user){ %>
			<% key += i+'<br >'; %>
			<% str += user[i]+'<br >'; %>
			<% } %>
			<li>USER</li>
			<%= user%>
			<%= key %>
			<%= str %>
			<% }  %>
				
				
					
				

			
		<% } else {%>
			user undefined!
		<% } %>	
<hr >
		<% if(msg !== 'undefined'){ %>
			<% if(msg instanceof Object){ %>
			<% var str,key; %>
			<% for(var i in msg){ %>
			<% key += i+'<br >'; %>
			<% str += msg[i]+'<br >'; %>
			<% } %>
			<li>MSG</li>
			<%= key %>
			<%= str %>
			<% }  %>
			<hr >
			<%= msg.attributes %>

		<% } else {%>
			msg undefined!
		<% } %>		
<hr >
		<% include layouts/footer.ejs %>
	</body>
</html>